aiogram==3.31.0
alembic==1.20.0
APScheduler==3.11.3
asyncpg==0.31.0
babel==2.18.0
fastapi==0.141.1
geonamescache==3.0.2
h3==4.5.0
pillow==12.3.0
pydantic==2.13.5
pydantic-settings==2.15.0
redis==8.1.0
SQLAlchemy==2.1.1
uvicorn[standard]==0.54.0
